[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
pandas = "*"
fastapi = "*"
pillow = "*"
python-multipart = "*"
ultralytics = "*"
opencv-python = "*"
redis = "*"
motor = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
httpx = "*"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
