[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
pandas = "*"
fastapi = "*"
pillow = "*"
python-multipart = "*"
ultralytics = "*"
opencv-python = "*"
redis = "*"
motor = "*"
uvicorn = {extras = ["standard"], version = "*"}
certifi = "*"
python-jose = {extras = ["cryptography"], version = "*"}
pyjwt = "*"
pydantic = {extras = ["email"], version = "*"}
bcrypt = "==4.0.1"
passlib = {extras = ["bcrypt"], version = "*"}
update = "*"
mailersend = "*"

[dev-packages]
httpx = "*"
python-dotenv = "*"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
